.form-wrap {
    display: flex;
    justify-content: center;
  }

.form {
  height: 20em;
  width: 30em;
  padding: 3em 0;
  box-sizing: border-box;
  box-shadow: 0 0 10px #ccc;
  border-radius: 10px;
  margin-top: 20em;
}

.form__id {
  height: 4em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__pw {
  height: 4em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__label {
  font-size: 1.2em;;
  font-weight: bold;
}

.form__input {
  margin: .3em;
  height: 2em;
  width: 20rem;
  border: solid 1px #ddd;
  text-align: center;
}

.form__btn-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.form__btn-wrap__btn {
  height: 3em;
  width: 90%;
  border: none;
  background-color: #6f96e9;
}