.form-wrap {
  display: flex;
  justify-content: center;
  background-image: url("../utils/KakaoTalk_20230228_151232693.jpg");
  background-size: contain;
}

.form {
  height: 20em;
  width: 30em;
  padding: 3em 0;
  box-sizing: border-box;
  box-shadow: 0 0 10px #ccc;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  /* margin-top: 20em; */
  margin: 6em 0;
}

.form__input {
  /* height: 4em; */
  height: 6.4em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__input__label {
  font-size: 1.2em;
  font-weight: bold;
}

.form__input__input {
  margin: 0.3em;
  height: 2em;
  width: 20rem;
  border: solid 1px #ddd;
  text-align: center;
}

.form__btn-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.form__btn-wrap__btn {
  height: 3em;
  width: 90%;
  border: none;
  color: #fff;
  background-color: #6f96e9;
}
